:root {
  --dblue: #0093E9;
  --bblue: #97D9E1;
}

body {
  background-color: var(--bblue);
  background-image: linear-gradient(to bottom right, var(--bblue), var(--dblue));
  background-attachment: fixed;
}

.header {
  position: fixed;
  height: 150px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(85, 85, 85, 0.5);
  z-index: 1;
  }

.content {
  display: flex;
  margin-top: 150px;
  margin-bottom: 50px;
  top: 0;
  left: 0;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: rgba(85, 85, 85, 0.5);
  z-index: 2;
  top: 0;
  left: 0;
  min-width: 250px;
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-row-gap: .5em;
  grid-column-gap: 1em;
}

.card {
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 2;
  }
  