:root {
  --dblue: #0093E9;
  --bblue: #97D9E1;
}

body {
  background-color: var(--bblue);
  background-image: linear-gradient(to bottom right, var(--bblue), var(--dblue));
  background-attachment: fixed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background-color: #333;
  color: #fff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #333;
  color: #fff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.content {
  display: flex;
  margin-top: 150px;
  margin-bottom: 80px;
}

.left-content {
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-row-gap: .5em;
  grid-column-gap: 1em;
}

.card {
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: rgba(85, 85, 85, 0.5);
  }
  